@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float 1.5s ease-in-out infinite alternate
    position: absolute
    width: 80px
    top: 35%
    left: -5%
  &-2
    animation: floatZoom 5s ease-in-out infinite alternate
    position: absolute
    width: 80px
    top: 20%
    right: 30%
  &-3
    animation: floatRotate 5s ease-in-out infinite alternate
    position: absolute
    width: 80px
    top: 75%
    left: 0%

@keyframes float
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
@keyframes floatZoom
  0% 
    transform: translateY(0px) scale(1)
  50%
    transform: translateY(-35px) scale(1.05)
  100% 
    transform: translateY(0px) scale(1)

@keyframes floatRotate
  0% 
    transform: translateX(0px) rotate(0deg)
  50% 
    transform: translateX(-35px) rotate(30deg)
  100% 
    transform: translateY(-35px) rotate(0deg)

.banner-principal .tarjeta
  background-position: left 50% !important
  @media screen and (max-width: 1200px)
    background-image: url("../assets/curso/portada/fondo-banner-principal1.png") !important
  @media screen and (max-width: 768px)
    background-image: url("../assets/curso/portada/fondo-banner-principal2.png") !important
.banner-interno__fondo
  background-image: url("../assets/curso/portada/fondo-banner-principal3.png") !important

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important

.banner-principal__row .banner-principal__img
  width: 400px !important
  @media screen and (max-width: 1200px)
    width: 380px !important
  @media screen and (min-width: 1400px)
    width: 450px !important

.banner-principal__row
  padding: 0rem 2rem 0rem 1rem
  @media screen and (max-width: 1200px)
    padding: 0rem

.banner-principal__info
  @media screen and (max-width: 576px)
    padding: 10rem 1.5rem 10rem 1.5rem !important

.barra-avance__boton--regresar span
  color: $white !important

.banner-interno__titulo__icono i
  color: white

/* ===================================
          TITULOS TERCER NIVEL
/* ===================================
.titles___box_tercer_nivel
  background-color: $color-acento-contenido
  border-radius: 5px
  display: inline-flex
  align-items: center
  padding: 1rem
  height: 40px
  margin-left: 0.2rem
  @media screen and (max-width: 768px)
    margin-left: 0rem
    padding: 0.5rem 1rem 0.5rem 1.5rem !important
    width: auto
    height: auto
  @media screen and (max-width: 1200px)
    padding: 1.8rem 1.5rem
    margin-left: 0.4rem
  h3
    margin-left: 0rem
    padding-left: 0rem
    align-items: center
    white-space: normal
    word-break: break-word
    margin-bottom: 0px
  img
    position: relative
    left: -8px
    bottom: 0px
    @media screen and (max-width: 1200px)
      bottom: 0px
    @media screen and (max-width: 768px)
      bottom: 0px

/* ===================================
        AJUSTES CAJAS DE COLOR
/* ===================================
.fit___box_1
  padding: 0.5rem 2rem
  @media screen and (max-width: 1200px)
    padding: 2rem !important
  @media screen and (min-width: 1400px)
    padding: 3.5rem 2rem !important

.fit___box_2
  padding: 4rem 2rem !important
  @media screen and (max-width: 1200px)
    padding: 2rem !important
  @media screen and (min-width: 1400px)
    padding: 5rem 2rem !important

.fit___box_3
  padding: 3rem 2rem !important
  @media screen and (max-width: 1200px)
    padding: 2rem !important
  @media screen and (min-width: 1400px)
    padding: 4.5rem 2rem !important

.fit___box_4
  padding: 3.5rem 2rem !important
  @media screen and (max-width: 1200px)
    padding: 2rem !important

.fit___box_5
  padding: 6.5rem 2rem !important
  @media screen and (max-width: 1200px)
    padding: 2rem !important

.fit___box_6
  padding: 4.5rem 2rem !important
  @media screen and (max-width: 1200px)
    padding: 2rem !important

/* ===================================
              FONDOS
/* ===================================
.bg___carrusel
  background-image: url("../assets/curso/temas/bg/img1.png")
  background-repeat: no-repeat
  background-size: 1150px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1330px

.color___box_1
  background-image: url("../assets/curso/temas/bg/img2.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  background-position: center
  @media screen and (min-width: 1400px)
    background-size: 1325px

.color___box_2
  background-image: url("../assets/curso/temas/bg/img2.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px

.color___box_3
  background-image: url("../assets/curso/temas/bg/img4.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px

.bg___slider
  background-image: url("../assets/curso/temas/bg/img3.jpg")
  background-repeat: no-repeat
  background-size: cover
  margin-inline: -3.2rem !important
  padding: 3rem 0rem

/* ===================================
              INTRO
/* ===================================
.box___style_1
  background-color: $color-adicional-2
  padding: 0.4rem 2rem
  @media screen and (max-width: 1200px)
    padding: 2rem !important
  @media screen and (min-width: 1400px)
    padding: 1.1rem 2rem !important

/* ===================================
              TEMA 1
/* ===================================
.video
  iframe
    border-top-left-radius: 14px !important
    border-top-right-radius: 14px !important
.fit___figcaption-video
  border-bottom-right-radius: 14px !important
  border-bottom-left-radius: 14px !important

.tarjeta.color-acento-botones
  background-color: white
  border-radius: 14px !important
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3)
  h4
    color: $color-sistema-texto
  p
    color: $color-sistema-texto
  i
    color: $color-sistema-texto
  b
    color: $color-sistema-texto
  li
    color: $color-sistema-texto
.horizontal-scroll__wrapper
  padding: 1rem 0.5rem
.fa-chevron-right
  color: $color-acento-botones
.fa-chevron-left
  color: $color-acento-botones
.estilo-text
  text-align: center
  padding: 0.3rem
.slyder-f__btn
  @media screen and (max-width: 576px)
    width: 100% !important
    padding: 0rem !important
.slyder-f__btn i
  font-size: 1.3rem
  display: flex
  justify-content: center
  background-color: $color-acento-botones
  color: white
  border-radius: 100% 
  padding: 1rem 1.7rem 
  @media screen and (max-width: 576px)
    font-size: 1rem !important
    padding: 0.5rem 1rem !important
  @media screen and (max-width: 1200px)
    font-size: 1.2rem
    padding: 1rem 1.6rem
  @media screen and (min-width: 1400px)
    font-size: 1.2rem !important
    padding: 1rem 1.6rem !important
.slyder-f__btn i:hover
  background-color: $color-acento-botones
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3)
  border: 1px solid white
  transition: opacity 0.3s ease-in-outbox-shadow 0.3s ease-in-out
.box___card_sinbordes_p
  padding: 0rem 2rem 3rem 2rem

.box___style_2
  background-color: $color-adicional-3
  padding: 2rem

.box___style_3
  background-color: $color-adicional-2
  padding-right: 2rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    img
      margin: 0rem !important
      padding: 0rem !important
.fit___box_container
  @media screen and (max-width: 1200px)
    padding: 2rem

.estilo___ul
  li
    margin-left: -1rem
.fa-check-circle
  color: #FFA219 !important

.box___style_4
  background-color: $color-adicional-4
  padding: 0rem 1.5rem 2rem 1.5rem
  img
    margin-top: -2rem !important
    padding-bottom: 0.5rem
    position: relative

.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: $color-acento-contenido
.linea-tiempo-d__item__number
  background-color: #E5E2D3
.linea-tiempo-d__item__number:hover
  background-color: $color-acento-contenido !important
.linea-tiempo-d__item__content__title
  background-color: #E5E2D3
  transition: background-color 0.3s ease-in-out
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  @media screen and (max-width: 768px)
    height: 80px
.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  background-color: #FFD9A2 !important
.linea-tiempo-d__item__content__slot
  background-color: #FFD9A2
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px

/* ===================================
              TEMA 2
/* ===================================
.box___card_sinbordes
  background-color: $color-adicional-6
  border-top-left-radius: 20px
  border-top-right-radius: 20px
  h4
    padding: 1rem 3rem 1rem 3rem
.box___card_sinbordes_p
    padding: 0rem 3rem 3rem 3rem
.box___card_sinbordes_color
  background-color: $color-primario

.estilo___ul_1
  li
    margin-left: -1rem
  i
    color: #FFA219 !important

.lista-ol--cuadro
  li
    display: flex
  span
    font-weight: bold
    color: $color-sistema-texto !important
.lista-ol--cuadro__vineta
  color: $color-sistema-texto !important

.estilo___ul_2
  li
    margin-left: -1rem
  i
    color: $color-sistema-texto !important

.box___card_sinbordes_1
  background-color: $color-adicional-2
  border-top-left-radius: 20px
  border-top-right-radius: 20px
  h4
    padding: 1rem 3rem 1rem 3rem

.acordion__accion__btn--a
  background-color: $color-acento-botones
  color: white !important
.tarjeta--azul
  position: relative
  background-color: $color-adicional-8
  width: 100%
  p
    padding-left: 4.3rem
  @media screen and (max-width: 1200px)
    width: 100%
    img
      padding-left: 3.5rem
.acordion__activo
  background-color: $color-adicional-7
  h3
    color: $color-sistema-texto !important
.ajuste-cajaAcordion
  padding: 0rem 1rem 0rem 0rem
  ul
    padding: 0rem 3.3rem
    @media screen and (max-width: 1200px)
      padding: 0rem 2.3rem
  ol
    padding: 0rem 4.1rem
.ajuste-tabla-acordion
  padding-left: 4.3rem
  @media screen and (max-width: 1200px)
    padding-left: 4.3rem
.ajuste-vineta
  ul
    padding: 0rem 3.3rem

/* ===================================
              TEMA 3
/* ===================================
.box___podcast
  background-color: $color-adicional-9
  padding: 3rem 1.5rem
  border-radius: 20px
  h4
    color: $color-primario
  @media screen and (max-width: 1200px)
    padding: 1.5rem
.tarjeta-audio__texto
  color: $color-sistema-texto !important
  margin-bottom: 2rem !important
  font-style: normal !important
.tarjeta-audio
  background-color: white
  border-radius: 10px
  border: 3px solid #885DD5 !important
  padding: 1rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem
.tarjeta-audio.color-acento-contenido .tarjeta-audio__input input[type=range]
  background: rgb(255, 233, 181)
  background-image: linear-gradient(#FF9B08, #FF9B08) !important
.audio__btn
  background-color: $color-acento-contenido !important

/* ===================================
              TEMA 5
/* ===================================
.call___to_action
  background-color: $color-adicional-9
  border-radius: 11px
  padding: 1.5rem
  p
    color: white 
  h4
    color: white

/* ===================================
              TEMA 6
/* ===================================
.titles___box_cuarto_nivel
  background-color: $color-primario
  border-radius: 5px
  display: inline-flex
  padding: 0.3rem 1rem

.box___style_5
  background-color: $color-adicional-6
  border-radius: 12px
  padding: 1rem 2rem

.box___style_6
  background-color: $color-adicional-3
  padding-left: 2rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    img
      margin: 0rem !important
      padding: 0rem !important

.box___style_7
  background-color: $color-adicional-3
  padding-left: 2rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    img
      margin: 0rem !important
      padding: 0rem !important

.slyder-a__item
  padding: 4rem 3rem 1rem 4rem !important
.slyder-a__tipo-b
  padding: 0rem 2rem 2rem 2rem !important
.slyder-a__btn--atrs, .slyder-a__btn--sigt
  background-color: $color-acento-botones
.slyder-a__bullets__item 
  background-color: #F3A3DA !important
  border: 0px
.slyder-a__bullets__item--active
  background-color: #EB07DB !important
.slyder-a__bullets__item
  @media screen and (max-width: 768px)
    width: 10px !important
    height: 10px !important
    margin: 0.2rem
.ajuste-slider
  border-radius: 20px
  background-color: white
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4)
  background: rgba(255, 255, 255, 0.3)
  backdrop-filter: blur(5rem)
  -webkit-backdrop-filter: blur(5rem)
  border: 1px solid rgba(255, 255, 255, 0.4)
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-image: url("../assets/bullets/arrow-white.svg") !important